.home-carousel .item {
   height: 900px;
   width: 100%;
}

.home-carousel .item img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}

.stock {
   font-size: 16px; 
   font-weight: bold;
}

#in-stock {
   color: #4CAF50; 
}

#out-of-stock {
   color: rgb(82, 82, 82); 
}

.search-result {
   margin-bottom: 50px;
   text-align: center;
   text-transform: none;
   font-size: 25px;
   color: #2d3a4b;
}

.search-result span {
   font-weight: bold;
}

@media screen and (max-width: 1440px) {
   .home-carousel .item {
      height: 700px;
   }
}

@media screen and (max-width: 1024px) {
   .arrival-block .item img {
      height: 300px !important;
   }

   .home-carousel .item {
      height: 500px;
   }
}

@media screen and (max-width: 768px) {
   .no-result {
      font-size: 20px;
   }
}

@media screen and (max-width: 425px) {
   .no-result {
      font-size: 14px;
   }

   .home-carousel .item {
      height: 150px;
   }
}

@media screen and (max-width: 375px) {
   .no-result {
      font-size: 12px;
   }
}

@media screen and (max-width: 320px) {
   .no-result {
      font-size: 10px;
   }
}
